<meta charset="UTF-8">
<script defer src="../../../vendor/fontawesome/svg-with-js/js/fontawesome-all.js"></script>

<link rel="stylesheet" type="text/css" href="../../../_assets/css/style.css">
<link rel="stylesheet" href="../../../vendor/bootstrap-v4/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../vendor/bootstrap-v4/js/bootstrap.min.js">

<link rel="shortcut icon" href="../../_assets/images/logo/logo.png">
<title>develo'pont</title>
