/* reset
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* debut css */


/* Barre de navigation*/
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
/* Barre de navigation*/

main {
	background-color: white;
	box-shadow: 0 20px 40px 0 lightgrey;
}
.borderimg-t {
	border-top: 10px solid;
	padding: 15px;
	border-image: url(../images/pattern/border.png) 10;
}
.borderimg-b {
	border-bottom: 10px solid;
	padding: 15px;
	border-image: url(../images/pattern/border.png) 10;
}
h1 {
	margin-left: 1em;
}
.first-party {
    background-color: rgba(222,229,226,1);
}
.first-party-article {
	margin: 2em;
}
.first-party-article p {
	margin-left: 2em;
}
.card:hover {
    background-color: lightgrey;
}
.recrutement {
    padding: 4em;
    background-color: lightgrey;
}

/* tableau */
.Module-nav {
	background-color: rgba(33,60,69,1);
}
.Module-nav button {
	background-color: rgba(33,60,69,1);
	color: white;
}
.Module-nav button:hover {
	background-color:rgba(97,127,127,1);
}
.Module-Tableau-activ {
	background-color:rgba(97,127,127,1) !important;
}
/* tableau */
#map {
	width: 100%;
	height: 400px;
	overflow: visible;
}
.party-partenaires img {
	width: 120px;
	height: 80px;
}
footer {
	background-color: #0c0c0c;
	box-shadow: 0 20px 40px 0 lightgrey;
	color: #999999;
}
footer a {
	color: #999999;
}
footer a:hover {
	color: #7fbf7f;
	text-decoration: none;
}
.realis {
	color: #999999;
}
.realis a {
	color: #999999;
}
.realis a:hover {
	color: #7fbf7f;
	text-decoration: none;
}
