html {
    --color1: rgba(33,60,69,1);
    --color2: #272822;
    --color3: #cccccc;
}
body {
    background-color: #FAF0E6;
}
section {
    background-color: darkgrey;
}
.head {
    box-shadow: 1px 1px 12px ThreeDFace;
}
.color1 {
    background-color: white;
    box-shadow: 1px 1px 12px ThreeDFace;
}
.color2 {
    border-radius: 5px;
    background-color: green;
    box-shadow: 1px 1px 12px ThreeDFace;
}
.pattern-color {
    background-color: var(--color1);
}
.active-link:hover {
    background-color: #6cad89;
    border-radius: 5px;
}
nav li {
    background-color: rgba(33,60,69,1);
}
nav li:hover {
    background-color: rgba(97,127,127,1);
    color: white;
    text-decoration: none;
}
nav li  a {
    color: white;
}
nav li  a:hover {
    color: white;
}
.active {
    background-color: rgba(97,127,127,1) !important;
    color: white;
    text-decoration: none;
}
li button {
    background-color: rgba(33,60,69,1);
}
li button:hover {
    background-color: rgba(97,127,127,1);
    text-decoration: none;
}
