<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="d-block m-auto img-fluid" src="_assets/images/logo/logo-p.png" alt="Develo'pont">
    </div>

    <div class="carousel-item">
      <img class="d-block m-auto img-fluid" src="_assets/images/photo/15.jpg" alt="Develo'pont-salle-1">
    </div>

    <div class="carousel-item">
      <img class="d-block m-auto img-fluid" src="_assets/images/photo/29.jpg" alt="Develo'pont-salle-1">
    </div>

    <div class="carousel-item">
      <img class="d-block m-auto img-fluid" src="_assets/images/photo/27.jpg" alt="Develo'pont-salle-2">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
