<nav class="Module-nav navbar navbar-light border border-success">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <button type="button" class="Module-tableau-button btn tablink Module-Tableau-activ" onclick="openCity(event,'HTML/CSS')">HTML/CSS</button>
        <button type="button" class="Module-tableau-button btn tablink" onclick="openCity(event,'PHP')">PHP</button>
        <button type="button" class="Module-tableau-button btn tablink" onclick="openCity(event,'JavaScript')">JavaScript</button>
        <button type="button" class="Module-tableau-button btn tablink" onclick="openCity(event,'Framwork')">Framwork</button>
    </div>
</nav>

<div class="container p-4 border border-success bg-light">
    <article id="HTML/CSS" class="city" style="display: block;">
        <h5 class="mb-4">Le HTML et le CSS deux standards</h5>
        <p class="text-justify">Le HTML, ou HyperText Markup Language
            HTML est l’abréviation de HyperText Markup Language, soit en français « langage de balisage hypertexte ».
            Ce langage a été créé en 1991 et a pour fonction de structurer et de donner du sens à du contenu.
            Grâce au HTML, on va par exemple pouvoir indiquer au navigateur que tel texte doit être considéré comme un simple paragraphe ou que tel autre est un titre.
        </p>
        <p class="text-justify">Le CSS, ou Cascading StyleSheets
            CSS est le diminutif de Cascading StyleSheets, ou feuilles de styles en cascade.
            Le CSS a été créé en 1996 et a pour rôle de mettre en forme du contenu en lui appliquant ce qu’on appelle des styles.
            Le CSS va nous permettre par exemple de définir la taille, la couleur ou l’alignement d’un texte.
            Nous allons donc utiliser le CSS sur notre code HTML, afin d’enjoliver le résultat visuel final.
        </p>

    </article>

    <article id="PHP" class="city" style="display: none;">
        <h5 class="mb-4">Le PHP ou Hypertext Preprocessor</h5>
        <p class="text-justify">PHP est un langage de programmation informatique essentiellement utilisé pour produire à la volée
             des pages web dynamiques. Dans sa version 5 lancée en juillet 2004, PHP s’est imposé comme le langage de référence
             sur le web en raison de sa simplicité, de sa gratuité et de son origine de logiciel libre.
        </p>
        <p class="text-justify">Exécuté du côté serveur (l'endroit où est hébergé le site) il n'y a pas besoin aux visiteurs d'avoir
             des logiciels ou plugins particulier. Néanmoins, les webmasters qui souhaitent développer un site en PHP doivent s'assurer
             que l'hébergeur prend en compte ce langage.
             Lorsqu'une page PHP est exécuté par le serveur, alors celui-ci renvois généralement au client (aux visiteurs du site) une
              page web qui peut contenir du HTML, XHTML, CSS, JavaScript ...
        </p>
        <p class="text-justify">Les compétences en développement PHP, développeurs PHP et ingénieurs de développement PHP, sont
            très recherchées par les entreprises qui l’utilisent de plus en plus dans le cadre de création de pages web dynamiques
             ainsi que dans le cadre de langage interprété de façon locale.
        </p>
    </article>

    <article id="JavaScript" class="city" style="display: none;">
        <h5 class="mb-4">Le JavaScript : ce n'est pas le Java</h5>
        <p class="text-justify">Le JavaScript est un langage de programmation.
            Pour être plus précis, c'est un langage orienté objet : quand on code en JavaScript, on se base sur des objets.
        </p>
        <p class="text-justify">Le langage JavaScript est principalement employé pour améliorer l'ergonomie d'un site Internet et/ou
             l'interface utilisateur. Il sert également à intégrer des effets esthétiques, toutefois rarement indispensables. Son
             principal intérêt réside dans son mode de fonctionnement : le langage JavaScript offre en effet la possibilité d'exécuter
             un code sans devoir être contraint de recharger une page Web.
        </p>
    </article>

    <article id="Framwork" class="city" style="display: none;">
        <h5 class="mb-4">Les Framwork ou boite à outil</h5>
        <p class="text-justify">Tous les frameworks ne répondent pas aux même besoins, et plusieurs frameworks peuvent être utilisés conjointement dans certaines situations.
            On trouve notamment des frameworks applicatifs, par exemple les frameworks d'applications web (comme Django, Ruby on Rails, Symphony ou encore Catalyst) ou les
            frameworks de développement d'applications de bureau (Cocoa sous Mac, Qt en multi-plateforme…).
        </p>
        <h5>Pourquoi utilisé un frameworks</h5>
        <p class="text-justify">Les frameworks permettent au développeur de gagner en rapidité puisque toute la partie technique (architecture, structure et bibliothèque)
            est géré par ceux-ci. Cela permet au développeur de se concentrer uniquement sur le développement des composants métiers. L’utilisation d’un framework permet
            également de produire un code de qualité puisque celui-ci est structuré grâce au modèle MVC et sécurisé car les composants ont été développés par des personnes
             compétentes, testés et approuvés. De plus il permettra d’obtenir une certaine cohérence dans le code (tout le projet est développé sur une même base ce qui crée
              une cohérence dans le code) Enfin, les utilisateurs de framework forment une grande communauté, il est donc facile d’obtenir de l’aide.
        </p>
    </article>
</div>
