<a class="navbar-brand" href="index.php"><img src='_assets/images/logo/developont.png'></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
    <ul class="navbar-nav">

        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#quisommesnous">Develo'pont</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">L'équipe</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#simplon">Simplon.co</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Recrutez un dev</a></li>
        <li class="nav-item"><a class="nav-link" href="#partenaires">Nos partenaires</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Media</a></li>
    </ul>
    <ul class="navbar-nav">
        <li><a class="nav-link" href="#contact">Contact</a></li>
        <li><a class="nav-link" href="login.php">Login</a></li>
    </ul>
</div>
